{% extends 'lista_base.html' %}
{% block content %}
 
<a href='/'>Inapoi</a> 


    <h2>Lista dei Campi</h2>
    <ul>
        {% for campo in campi %}
        <li> {{ campo.nome }} - {{ campo.superficie }} ettari - {{ campo.posizione }}
            {% if campo.google_maps_link %}
            <a href="{{ campo.google_maps_link }}" target="_blank">Google Maps</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    
<iframe src="https://www.google.com/maps/d/embed?mid=1-y70JbWZJSuqOpjgdTz3AYbtJck&ehbc=2E312F" width="480" height="400"></iframe>    
{% endblock %}
