<!DOCTYPE html>
    <html>
    <head>
        <title>Quaderno di Campagna</title>
    </head>
    <body>
        <h1>Benvenuto nel Quaderno di Campagna</h1>
        {% if user.is_authenticated %}
            <p>Benvenuto, {{ user.username }}!</p>
            <a href="{% url 'menu' %}">Vai al menu</a>
            <meta http-equiv="REFRESH" content="0;url={% url 'menu' %}">
        {% else %}
            <a href="{% url 'admin:login' %}">Login</a>
            <meta http-equiv="REFRESH" content="0;url={% url 'admin:login' %}?next={% url 'menu' %}">
        {% endif %}
    </body>
    </html>
