{% load static %}
<!DOCTYPE html>
    <html>
		
    <head>
		
		<style>
         body {
			 background-image: url({% static 'background.jpg' %});
			 background-size: cover;
			 opacity: 0,5;
			 }
        </style>
        
        <style>	
         a:link, a:visited {
         background-color: #f44336;
         color: white;
         padding: 24px 35px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
          }

         a:hover, a:active {
         background-color: red;
         }
        </style>
        
		<link rel="stylesheet" href="{% static 'mystyles.css' %}">  
        <title>Quaderno di Campagna</title>
    </head>
    <body>
        <h1> Quaderno di Campagna</h1> 
        <h2>Registru tratamente si lucrari</h2>
        <h3>Utilizator {{request.user.username}}</h3>
        
        <nav>
            
            <a href='/attivita/'>Lucrari</a> 
            <a href='/trattamenti/'>Tratamente</a>
            
            <a href='/campi/'>Parcele</a>
            <br><br>
            <a href='/admin/'>Admin</a>
            
        </nav>
        
        <div>{% block content %}{% endblock %}</div>
    </body>
    
    {% include "footer.html" %}
    </html>
