 <!DOCTYPE html>
    <html>
		
    <head>
		<style>
         th, td {
                border: 1px solid black;
         }
         tr:nth-child(even) {
         background-color: #D6EEEE;
         }
		</style>
    </head>
<body>
 
<a href='/'>Inapoi</a> 


    <h2>Lista cu Tratamente</h2>
    <form method="get">
        <label for="status">Filtru dupa status:</label>
        <select name="status" id="status">
            <option value="">Tot</option>
            {% for key, label in status_choices %}
            <option value="{{ key }}">{{ label }}</option>
            {% endfor %}
        </select>
        <label for="operatore">Filtru dupa operator:</label>
        <select name="operatore" id="operatore">
            <option value="">Tot</option>
            {% for persona in operatore_list %}
            <option value="{{ persona.id }}">{{ persona.nome }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filtreaza</button>
    </form>
    <ul>
		<table>
        {% for trattamento in trattamento %}
        <tr><td>
        <li>
            {{ trattamento.tipo }} - {{ trattamento.campo.nome }} - {{ trattamento.status }} - {{trattamento.prodotto}} {{trattamento.dose}} kg/hectar {{ trattamento.data }} - {{ trattamento.operatore.nome}}
            <form method="post" action="{% url 'modifica_trattamento' trattamento.id %}">
                {% csrf_token %}
                <select name="status">
                    {% for key, label in status_choices %}
                    <option value="{{ key }}" {% if trattamento.status == key %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="nota" value="{{ trattamento.nota }}">
                <button type="submit">Salva Modifiche</button>
            </form>
        </li>
        </td></tr>
        {% endfor %}
    </table>
    </ul>
 </body>
{% include "footer.html" %}
 </HTML>
